---
import Layout from "../layouts/Layout.astro";
import { Hero } from "../components/molecules/Hero";
import { TopNav } from "../components/molecules/TopNav";
import { Projects } from "../components/organisms/Projects";
import "../styles/global.css";
import { getCollection, type CollectionEntry } from "astro:content";

export const prerender = false;

const watchedAnimation = Astro.cookies.get("watched-animation");
const rotationCookie = Astro.cookies.get("rotation");
const initialRotation = rotationCookie?.value
  ? parseFloat(rotationCookie.value)
  : 0;

const articles: CollectionEntry<"posts">[] = await getCollection("posts");
const bookmarks: CollectionEntry<"bookmarks">[] = await getCollection("bookmarks");
---

<Layout title="Nils Haberkamp">
      <div class="w-full min-h-screen relative">
        <TopNav skipAnimation={!!watchedAnimation} client:load />

        <Hero
          skipAnimation={!!watchedAnimation}
          initialRotation={initialRotation}
          client:only
        />
      </div>

      <div class="pt-8"></div>

      <div class="container mx-auto px-4 flex flex-col items-center">
        <h2 id="projects" class="text-2xl font-medium text-center scroll-mt-20">
          Projects
        </h2>

        <div class="pt-8"></div>

        <Projects client:load />

        <div class="pt-48"></div>

        <h2 class="text-2xl font-medium text-center scroll-mt-20">Articles</h2>

        <div class="pt-8"></div>

        <ul class="flex max-w-2xl mx-auto flex-col">
          {articles.map((article) => (
            <li class="-ml-5 md:ml-0">
              <a href={`/posts/${article.id}`} class="transition-colors duration-200 ease-out-expo block hover:text-white hover:bg-black px-6 py-4 focus-visible:outline-2 focus-visible:outline-red-500 outline-offset-2">
                <h3 class="text-xl font-medium text-pretty leading-[1.1]">{article.data.title}</h3>

                <div class="pt-2" />

                <p class="text-pretty">{article.data.content}</p>
              </a>
            </li>
          ))}
        </ul>

        <div class="pt-48"></div>

        <h2 class="text-2xl font-medium text-center scroll-mt-20">
          Experiments
        </h2>

        <div class="pt-8"></div>

        <ul class="flex w-full max-w-2xl mx-auto flex-col">
          <li class="-ml-5 md:ml-0">
            <a href="/blur" class="transition-colors duration-200 ease-out-expo block hover:text-white hover:bg-black px-6 py-4 focus-visible:outline-2 focus-visible:outline-red-500 outline-offset-2">
              <h3 class="!font-sans text-xl font-medium text-pretty leading-[1.1]">
                Blurry placeholder
              </h3>

              <div class="pt-2" />

              <p class="text-pretty">
                Improve UX by showing a blurry placeholder image until the actual image is loaded.
              </p>
            </a>
          </li>
          <li class="-ml-5 md:ml-0">
            <a href="/sprite-animation" class="transition-colors duration-200 ease-out-expo block hover:text-white hover:bg-black px-6 py-4 focus-visible:outline-2 focus-visible:outline-red-500 outline-offset-2">
              <h3 class="!font-sans text-xl font-medium text-pretty leading-[1.1]">
                Sprite animation
              </h3>

              <div class="pt-2" />

              <p class="text-pretty">
                Creating sprite animations using PNG images
              </p>
            </a>
          </li>
        </ul>

        <div class="pt-48"></div>

        <h2 class="text-2xl font-medium text-center scroll-mt-20">
          Bookmarks
        </h2>

        <div class="pt-8"></div>

        <ul class="flex w-full max-w-2xl mx-auto flex-col">
          {bookmarks.map((bookmark) => (
            <li class="-ml-5 md:ml-0">
              <a href={bookmark.data.url} target="_blank" rel="noopener noreferrer" class="transition-colors duration-200 ease-out-expo block hover:text-white hover:bg-black px-6 py-4 focus-visible:outline-2 focus-visible:outline-red-500 outline-offset-2">
                <h3 class="!font-sans text-xl font-medium text-pretty leading-[1.1]">
                  {bookmark.data.title}
                </h3>

                {bookmark.data.description && (
                  <>
                    <div class="pt-2" />
                    <p class="text-pretty">{bookmark.data.description}</p>
                  </>
                )}
              </a>
            </li>
          ))}
        </ul>

        <div class="pt-48"></div>
      </div>
</Layout>
